.Stories {
    width: 100%;
    background-image: url("https://rog.asus.com/dist/img/rog_bg_pattern.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
        color: white;
        font-size: 50px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    a {
        margin-top: 30px;
        margin-bottom: 30px;
        color: red;
        text-decoration: none;
    }

    .tamcard {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 90%;
        gap: 1rem;

        .card1 {
            display: flex;
            flex-direction: row;
            width: 100%;
            overflow: hidden;
            gap: 1.2rem;

            .cards1 {
                width: 402px;
                height: 490px;
                overflow: hidden;


                img {
                    box-sizing: border-box;
                    width: 402px;
                    height: 490px;


                    &:hover {
                        transform: scale(1.2);
                        transition: 1s;
                    }
                }

                p {}
            }


        }

        .card2 {
            display: flex;
            flex-direction: row;
            width: 100%;
            overflow: hidden;
            gap: 1.2rem;

            .cards2 {
                width: 750px;
                height: 382px;
                overflow: hidden;

                img {
                    box-sizing: border-box;
                    width: 750px;
                    height: 282px;

                    &:hover {
                        transform: scale(1.2);
                        transition: 1s;
                    }
                }
            }

        }
    }

}
@media only screen and (max-width: 800px) {
    .Stories {
        width: 100%;
        background-image: url("https://rog.asus.com/dist/img/rog_bg_pattern.jpg");
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    
        h1 {
            color: white;
            font-size: 30px;
            margin-top: 30px;
            margin-bottom: 30px;
        }
    
        a {
            margin-top: 30px;
            margin-bottom: 30px;
            color: red;
            text-decoration: none;
        }
  }
}